@import '../../../../assets/main';

.main-header {
  height: 80px;
  background-color: $csgo-black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $csgo-white;
}

.header-icon {
  width: 50px;
  margin-right: 12px;
}
