@import "src/assets/main";

.card-title {
  margin: 0;
  color: $csgo-black;
}

.card {
  margin: 0;
}

.team-container {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.profile-pic {
  width: 80px;
}

.list-group-item {
    justify-content: center;
    align-items: center;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin: 14px 0;
}

