<div class="team-container justify-content-evenly">
  <div class="card" style="width: 10rem;" *ngFor="let player of playerDto">
    <img src="{{player.photo}}" class="card-img-top" alt="profile-picture">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center card-title-custom">{{player.nickname}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{player.firstname}}</li>
      <li class="list-group-item">{{player.lastname}}</li>
      <li class="list-group-item">{{player.team}}</li>
    </ul>
  </div>
</div>

