@import "src/assets/main";

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 40px 140px;
  color: inherit;
  min-height: calc(100vh - 80px - 70px);
  background-color: $csgo-white;
}

app-teams {
  flex-grow: 1;
}
